onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=workerd
onlyBuiltDependencies[]=lightningcss
onlyBuiltDependencies[]=@img/sharp-libvips
onlyBuiltDependencies[]=@img/sharp
onlyBuiltDependencies[]=@rolldown/binding
onlyBuiltDependencies[]=miniflare
